{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
      <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>
    </form>
    <div class="alert alert-warning mt-3" role="alert">
      Are you not registered yet? <a href="{% url 'register' %}" class="alert-link">Sign up here</a> to start
      posting and access more features.
    </div>
  </div>
</div>
{% endblock %}