html, body {
    height: 100%;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/images/B35C5B83-62B9-4E61-81A7-BC093DDEA68C.jpeg") no-repeat center center;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

.w-100 {
    width: 100%;
}

.responsive-container {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem; 
}

.form-group {
    margin-bottom: 1rem;
}

/* Media queries for responsive design */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
}

.form-group {
    margin-bottom: 1rem;
}

button[type="submit"] {
    width: 100%;
}

.bg-light {
    padding: 1rem;
}

@media (max-width: 600px) {
    .bg-light {
        padding: 1rem; 
    }
}

