/* Ensure that the height of the html and body elements spans the full viewport height */
html, body {
    height: 100%;
}
/* Create a fixed background image for the entire viewport */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/images/B35C5B83-62B9-4E61-81A7-BC093DDEA68C.3a2869b58619.jpeg") no-repeat center center;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
}
/* Styles the wrapper to ensure it covers the full height of the viewport and uses flexbox layout */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Allows the content section to grow and fill available space */
.content {
    flex: 1;
}
/* Styles the footer section with a light background color and padding */
.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}
