{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Car Blog!</h1>
    <p class="lead">This is a simple blog where you can share and read posts about cars.</p>
    <hr class="my-4">
    <p>Explore the latest posts below or create your own!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'new_post' %}" role="button">Create New Post</a>
</div>

<div class="row">
    <div class="col-md-8">
        {% if user.is_authenticated %}
        <h2>Latest Posts</h2>
        {% for post in posts %}
        {% if post.approved %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                {% endif %}
                <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                <p class="card-text"><small class="text-muted">By {{ post.author.username }}</small></p>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            You are not registered yet. <a href="{% url 'register' %}" class="alert-link">Sign up here</a> to start
            posting and access more features.
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <h2>Categories</h2>
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'category_filter' category.id %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}