{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="text-center jumbotron p-4">
        <h2>Reset Password</h2>
        <form method="post" class="w-75 mx-auto">
            {% csrf_token %}
            <div class="form-group">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {{ field.help_text }}<br>
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}