{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center bg-light p-4 rounded shadow-sm w-100" style="max-width: 600px;">
        <!-- Form for editing the post -->
        <h1>Edit Post</h1>
        <div class="container mt-3">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert"
                id="alert-{{ forloop.counter }}">
                {{ message }}
            </div>
            <script>
                autoDismissAlert('alert-{{ forloop.counter }}', 2000);
            </script>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert"
                id="alert-{{ forloop.counter }}">
                {{ message }}
            </div>
            <script>
                autoDismissAlert('alert-{{ forloop.counter }}', 2000);
            </script>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Save changes button -->
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        </form>
        <!-- Cancel button -->
        <a href="{% url 'post_detail' post_id=post.pk %}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
</div>

{% if redirect_after %}
<script>
    setTimeout(function () {
        window.location.href = "{% url 'post_detail' post_id=post.pk %}";
    }, 2000);
</script>
{% endif %}
{% endblock %}