{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center bg-light p-4 rounded shadow-sm w-100" style="max-width: 600px;">
        <!-- Form for confirming the deletion -->
        <h1>Are you sure you want to delete "{{ post.title }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Confirm Delete</button>
        </form>
        <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
</div>
{% endblock %}
