{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center bg-light p-4 rounded shadow-sm w-100" style="max-width: 800px;">
        <h1>{{ user.username }}'s Posts</h1>
        <!-- Container for displaying messages if any exist -->
        <div class="container mt-3">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert"
                id="alert-{{ forloop.counter }}">
                {{ message }}
            </div>
            <script>
                autoDismissAlert('alert-{{ forloop.counter }}', 2000);
            </script>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert"
                id="alert-{{ forloop.counter }}">
                {{ message }}
            </div>
            <script>
                autoDismissAlert('alert-{{ forloop.counter }}', 2000);
            </script>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <!-- List of posts -->
        <ul class="list-unstyled">
            {% for post in posts %}
            <li class="mb-3">
                <h2><a href="{% url 'post_detail' slug=post.slug %}" class="text-decoration-none">{{ post.title }}</a></h2>
                <p>{{ post.content|slice:":200" }}...</p>
            </li>
            {% empty %}
            <!-- Message and button if no posts are found -->
            <p>No posts found.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'new_post' %}" role="button">Create New Post</a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}